.main_content {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

header { 
    background-color: #528145;
    background: linear-gradient(to bottom, #2a5e30, #528145, #B1DC88);
    color: #E8E8E8;
    display: flex;
    padding: 1%;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer { 
    background-color: #528145;
    color: #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article {
    padding: 3%;
}

aside { 
    background-color: #B1DC88;
    width: 100%;
}

#main_subtitle {
    align-self: center;
}

.non_dinosaur_information {
    padding: 10%;
}

h1 { 
    color: inherit;
    font-size: 3rem;
    margin-left: 4%;
}

h4 {
    display: block;
    font-size: 30px;
    margin: 2%;
}

#main_subtitle {
    color: inherit;
    font-size: 2rem;
    margin-right: 4%;
    max-width: 130px;
}

.text {
    margin: 3%;
    text-align: justify;

}

.dino_info_p {
    max-width: 100%;
    padding: 1%;
    text-align: justify;
}

.dinosaur_information {
    display: inline-flex;
    margin: 5%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.individual_dinosaur_info{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.sub_information {
    background-color: #E8E8E8;
    width: -webkit-fill-available;
    justify-content: space-around;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b1dc88;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s cubic-bezier(0.46, 0.2, 0.01, 1);
    opacity: 80%;
  }
  
  .container {
    position: relative;
    width: 90%;
    display: flex;
  }

  .container:hover .overlay {
    height: 100%;
  }

.image_text {
    white-space: nowrap; 
    color: #528145;
    font-size: 4rem;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

table {
    margin-bottom: 5%;
    width: 100%;
    background-color: #d3ded1;
}

thead {
    color: #e8e8e8;
    background: #528245;
}


.video_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


@media screen and (min-width: 1200px) {
    .main_content {
        flex-direction: row;
    }

    header {
        flex-direction: row;
    }

    h4 {
        font-size: 22px;
    }

    aside { 
        min-width: 30%;
    }

    .dinosaur_information { 
        display: inline-block;
    }

    .individual_dinosaur_info {
        flex-direction: row;
        justify-content: space-around;
    }

    .dino_info_p {
        max-width: 50%;
    }

    #div_trex {
        flex-direction: row-reverse;
    }

    table {
        width: 50%;
    }